@import "mixins.scss";
@import "global.scss";
@import "typography.scss";
@import "grid.scss";
@import "font-awsome.scss";

/* ==========================================================================
   Header Styless
   ========================================================================== */

header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $grey;
    height: em(80px, $browser-default);
    .logo {
        color: #8c8c8c;
        font-weight: bold;
        font-size: 1.5em;
        float: left;
        line-height: em(50px, $browser-default);
        position: relative;
        span {
            color: #179BD7;
            transition: color 0.5s ease;
        }
    }
    .fa-bars {
        display: none;
        float: right;
        font-size: 1.5em;
        line-height: em(50px, $browser-default);
        color: grey;
        cursor: pointer;
        @include media($mobile-lg) {
            display: block;
        }
    }
    ul {
        list-style: none;
        float: right;
        @include media($mobile-lg) {
            position: absolute;
            display: none;
            width: 100%;
            background: white;
            top: em(80px, $browser-default);
            left: 0;
        }
        li {
            display: inline-block;
            display: inline;
            @include media($mobile-lg) {
                display: block;
            }
            a {
                text-decoration: none;
                float: left;
                display: inline-block;
                line-height: em(80px, $browser-default);
                margin-left: 1em;
                color: $grey;
                font-weight: bold;
                transition: color 1s ease;
                &:hover {
                    color: #179BD7;
                }
                @include media($mobile-lg) {
                    float: none;
                    display: block;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid grey;
                    line-height: 4em;
                }
            }
        }
    }
}
.hero {
    width: 100%;
    height: 600px;
    background-color: $grey;
    margin-bottom: 200px;
}
